@charset "UTF-8";
body { background: #f3f3f3;}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: #f37021;;
    border-radius: 10px;
}
*::-webkit-scrollbar-track {
    background-color: rgb(198, 198, 198);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
body, textarea {font-family: 'Pretendard-Regular','나눔고딕', '맑은 고딕', 'Malgun Gothic', 'Apple SD Godic Neo', 돋움, Dotum, sans-serif;}

.centerbox {max-width: 1043px; margin: 0 auto;}

header {height: 180px; position: relative; z-index: 7}

body {font-family: 'Pretendard-Regular';}
.centerbox {max-width: 1043px; margin: 0 auto;}

header {height: 180px; position: relative; z-index: 7;}
#visual {height: 715px; background: url(../images/main.jpg) center; position: relative; overflow: hidden; animation: visual 10s forwards}
/* @keyframes visual {
    0% {background-size: 100%;}
    100% {background-size: 150%;}
} */
footer {height: 230px;background: #453426;position: relative; color: #fff; font-family: 'Pretendard-Thin';}

/* Header */
header .top {width: 100%; height: 44px; }
header .top .lang {width: 150px; height: 44px; float: left; line-height: 44px; text-indent: 30px;background: url(../images/bul_earth.png) left -44px no-repeat; transition: 0.3s; position: relative;}
header .top .lang:hover {background-position: left 0px;}
header .top .lang a {display: block;}
header .top .lang .language {position: absolute; width: 100%; background: #fff; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); display: none; z-index: 3;}
header .top .lang .language li:hover {background: #eee;}
header .top .login_box {height: 44px;float: right; font-size: 0; text-align: right;}
header .top .login_box a {padding: 0 30px; line-height: 44px; display: inline-block; height: 44px; font-size: 16px;}
header .top .login_box a.login {background: url(../images/logout_icon.png) no-repeat 0 -88px;}
header .top .login_box a.login:hover {background-position: 0 -132px;}
header .top .login_box a.join {background: url(../images/logout_icon.png) no-repeat 0 -176px;}
header .top .login_box a.join:hover {background-position: 0 -220px;}
header .top .login_box a.sitemap {background: url(../images/logout_icon.png) no-repeat 0 -264px;}
header .top .login_box a.sitemap:hover {background-position: 0 -308px;}

header .top .logout_box {display: none;}
header .top .logout_box a.logout {background: url(../images/logout_icon.png) no-repeat -212px -88px;}
header .top .logout_box a.logout:hover {background: url(../images/logout_icon.png) no-repeat -212px -132px;}
header .top .logout_box a.mypage {background: url(../images/logout_icon.png) no-repeat -212px -176px;}
header .top .logout_box a.mypage:hover {background: url(../images/logout_icon.png) no-repeat -212px -220px;}

header h1 {width: 180px;height: 50px; position: absolute; left: 50%; top: 0px; transform: translateX(-50%);}
header h1 img {width: 180px;}

header nav {height: 80px;  margin-top: 56px;}
header nav.on {position: fixed; margin-top: 0; top: 0; z-index: 3; width: 100%; left: 0; background: #fff; }
header nav.on .gnb {width: 1043px; margin: 0 auto;}

header nav .gnb {width: 1043px; left: 0; margin: 0 auto; }
header nav .gnb {display: flex; height: 100%; justify-content: space-around;}
header nav .gnb li {flex-grow: 1; font-size: 20px; position: relative;}
header nav .gnb li:hover {background: #f37021;}
header nav .gnb li a:hover {color: #fff;}
header nav .gnb li a {display: flex; height: 100%; justify-content: center; align-items: center;}

header nav .gnb .lnb {position: absolute; width: 100%; background: #f37021; padding: 20px 0; top: 80px; height: 220px;  /* opacity: 0; visibility: hidden; transition: 0.2s */; display: none;}
header nav .gnb .lnb li {font-size: 16px; height: 44px; line-height: 44px;}
header nav .gnb .lnb li:hover {background: #453426;}
header nav .gnb .lnb li a {color: #fff; display: block; text-indent: 45px;}
/* header nav .gnb:hover li .lnb {opacity: 1; visibility: visible;} */

header nav .gnb li:first-child .lnb {border-radius: 0 0 0 0;}
header nav .gnb li:last-child .lnb {border-radius: 0 0 0 0 ;}





#visual {height: 45vw; max-height: 600px; position: relative; overflow: hidden; animation: visual 10s forwards}
/* @keyframes visual {
    0% {background-size: 100%;}
    100% {background-size: 150%;}
} */

footer {height: 230px; }



.btn_view {font-size: 19px; background: #7e930b; color: #fff; padding: 0.9em 2.2em; display: inline-block; position: relative; z-index: 2; overflow: hidden;}
.btn_view:before {content: ""; position: absolute; width: 100%; height: 100%; background: #1d2200; left: -110%; top: 0; z-index: -1; transform: skewX(45deg); transition: 0.3s;}
.btn_view:hover:before {left: 0; transform: skewX(0);}






/* SUBPAGE */
#visual_sub {height: 200px; background: url(../images/submain.png) ; background-size: cover; position: relative ;overflow: hidden;}

/* #visual_sub .model {position: absolute; left: 50%; transform: translateX(-50%); animation: model 2s forwards}
#visual_sub .model img {width: 100%;}   -> 모델 사진 넣을 경우 (밑에 애니메이션 효과까지)

@keyframes model {
    0% {top: 50px;}
    100% {top:0}
} */

#visual_sub .text {margin-top: 90px ; margin-left: 0px; position: relative;}
#visual_sub .text strong {font-size: 30px; display: block; font-family: 'Pretendard-Thin'; color: #fff; position: absolute;animation: subtext 1s forwards;opacity: 0;}
#visual_sub .text p {font-size: 14px; background: #f37021;  color: #fff; display: inline-block; position: absolute; top: 40px; animation: subtext 1s forwards; animation-delay: 0.5s; left: 50px; opacity: 0;}

@keyframes subtext {
    0% {left: 50px; opacity: 0;}
    100% {left: 0;opacity: 1;}
}

#section_sub .snb_box {position: relative; max-width: 900px;margin: 22px auto;}
#section_sub .snb {background: #453426; border-bottom: 1px solid #ddd;  display: flex; justify-content: center;}
#section_sub .snb li {height: 55px; line-height: 55px;}
#section_sub .snb li a {display: block; padding: 0 20px; color: #fff; font-family: 'Pretendard-regular';}
#section_sub .snb li a span {}

/* #section_sub  */.line {position: absolute; width: 88px; height: 2px; background: #f37021;top: 36px; /* left: 173px; */ transition: 0.3s; pointer-events: none; }
/* #section_sub .snb li:nth-child(2):hover ~ .line {left: 300px; width: 75px;}
#section_sub .snb li:nth-child(3):hover ~ .line {left: 412px; width: 75px;}
#section_sub .snb li:nth-child(4):hover ~ .line {left: 520px; width: 89px;}
#section_sub .snb li:nth-child(5):hover ~ .line {left: 645px; width: 89px;} */

#content_box {padding-bottom: 150px;}
#content_box .centerbox {max-width: 1100px;}